/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

/*
    Téléphone : 375*667
    Tablette : 810*1080
    Desktop: 1280*720
*/

@charset "utf-8";

/* Import de la font Oleo Script */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

/* Import des icônes */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,0');

/* Paramètre des icônes */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

/*********************
    Définition globale
**********************/
html, body, header, section, main, footer {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    /* Animation scrolling lorsqu'on clique sur une ancre */
    scroll-behavior:smooth;
    font-size: 1vw;
}

body {
    width:100%;
    font-family: 'Oleo Script', cursive;
    background-color: white;
}

header, footer {
    background-color: rgb(220, 220, 220);
}

a {
    text-decoration: none;
    color: black;
}

/******************************
    type de position des ancres
*******************************/

a.section-anchor {
    position: absolute;
    left: 50%;
    top: 93%;

    animation-name: opacity-keyframes, blur-keyframes;
    animation-duration: 4s, 2s;
}

/******************
    DEBUT DU HEADER
*******************/
header {
    position: relative;
    width: 100%;
    /* Le header prend 100% verticalement */
    height:100%;
}

div#header-container-1 {
    width: 80%;
    height: 450px;
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 40%);
    /* on dispose le nom et le logo horizontalement */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

h1#title {
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0;
    margin: 0 0 0 15%;
    /* pour éviter le retour à la ligne */
    white-space: nowrap;
}

h1.animation-title {
    animation-name: opacity-keyframes, h1-top-keyframes, blur-keyframes;
    animation-timing-function: ease-in, ease-out, ease-out;
    animation-duration: 2s, 2s, 2.5s;
    animation-iteration-count: 1;
}

div.image-logo {
    width: 650px;
    height: 441px;
    background-image: url('../images/arthur-morgan-big.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 450ms;
}

div.image-logo:hover {
    transform: rotate(-4deg);
}

div.animation-image-logo {
    animation-name: opacity-keyframes, blur-keyframes;
    animation-timing-function: ease-in;
    animation-duration: 1.5s, 1.5s;
    animation-iteration-count: 1;
}

/******************
    DEBUT SECTION 1
*******************/
section#section-1 {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}

div#section-1-container-1 {
    width: 70%;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 35%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

div.square {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
}

div.ours {
    border: 1px solid black;
    background-image: url('../images/ours-legendaire-300-300.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* Pour l'effet de rotation quand on survole l'image (hover) */
    transition: all 450ms;
}

div.ours-animation {
    animation-name: opacity-keyframes, blur-keyframes;
    animation-duration: 2s, 2s;
}

div.ours:hover {
    transform: rotate(-4deg);
}

div.gun {
    border: 1px solid black;
    background-image: url('../images/gun-300-300.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* Pour l'effet de rotation quand on survole l'image (hover) */
    transition: all 450ms;
}

div.gun-animation {
    animation-name: opacity-keyframes, blur-keyframes;
    animation-duration: 3s, 3s;
}

div.gun:hover {
    transform: rotate(4deg);
}

/******************
    DEBUT SECTION 2
*******************/

section#section-2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* On définit le div de la grille */
div#grid-circle {
    display: grid;
    width: 70%;
    height: 80%;
    align-items: center;
    position: absolute;
    top: calc(50% - 40%);
    left: calc(50% - 35%);
    margin: 0 auto 0 auto;

    /* background-color: blue; */
    /* GRID */
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(3,33%);
}

/* On positionne les cercles dans la grille */

/* div#grid-circle > div {
    background-color: blue;
} */

/* ligne 1 */
div.circle-h-grid {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* ligne 2 */
div.circle-c-grid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

div.circle-j-grid {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* ligne 3 */
div.circle-p-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

div.circle-m-grid {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

div.circle-s-grid {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

div.grid-anim {
    animation-name: opacity-keyframes, blur-keyframes;
    animation-timing-function: ease-in, ease-out;
    animation-duration: 1.5s, 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
/* Animation pour les grid */
div.grid-anim-1 {
    animation-delay: 0s;
}

div.grid-anim-2 {
    animation-delay: 0.3s;
}

div.grid-anim-3 {
    animation-delay: 0.6s;
}

div.grid-anim-4 {
    animation-delay: 0.9s;
}

div.grid-anim-5 {
    animation-delay: 1.2s;
}

div.grid-anim-6 {
    animation-delay: 1.5s;
}


/* on dessine les cercles */
div.circle {
    /* on positionne les cercles dans la cellule de la grid*/
    position: relative;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    /* Si on modifie la taille, il faut modifier juste en bas le line-height pour le vertical-align du texte */
    width:160px;
    height:160px;
    border-radius:50%;
}

div.circle-style {
    background: white;
    border:1px solid #a2a2a2;
    background: linear-gradient(144deg,#ffffff 0%, #e0e0e0 50%, #a1a0a0 80%);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    text-shadow: 4px 4px 7px rgba(0,0,0,0.54);
}

div.circle-text-align {
    text-align:center;
    /* alignement verticale */
    line-height: 220px;
}

span.icons-style {
    color: black;
    font-size: 70px;
}

/***************
    DEBUT FOOTER
****************/

footer#footer {
    position: relative;
    width: 100%;
    height: 15%;
}

/* L'ancre pour remonter en début de page */
a.footer-top-anchor {
    position: absolute;
    left: 50%;
    top: 5%;
}

footer#footer p {
    position: relative;
    top: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/******************
    DEBUT ANIMATION
*******************/

/* keyframes générales */

/* keyframes opacity */
@keyframes opacity-keyframes {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* keyframes effet de flou */
@keyframes blur-keyframes {
    from { filter: blur(8px); }
    to { filter: blur(0); }
}

/* keyframes spécifiques */

/* keyframes du h1 */
@keyframes h1-top-keyframes {
    from { top: -200px; }
    60% { top: 20px; }
    80% { top: -10px; }
    to { top: 0px; }
}

/****************
    Pour tablette
*****************/

@media screen and (max-width: 810px) and (min-width: 377px) {

    html {
        font-size: 2vw;
    }

    /****************
        PARTIE HEADER
    *****************/

    div#header-container-1 {
        width: 60%;
        height: 130px;
        top: calc(50% - 65px);
        left: calc(50% - 30%);
    }

    h1#title {
        font-size: 1.2rem;
    }

    span.firstname-1 {
        display: none;
    }

    div.image-logo {
        width: 162px;
        height: 128px;
        background-image: url('../images/arthur-morgan-small.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: black;
        transform: rotate(-6deg);
    }

    /*******************
        PARTIE SECTION 1
    ********************/

    div#section-1-container-1 {
        top: calc(50% - 125px);
    }

    /* TODO : chercher à garder les proportions des div lors d'un redimensionnement */
    div.square {
        display: block;
        width: 250px;
        height: 250px;
    }

    div.ours {
        background-image: url('../images/ours-legendaire-250-250.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    div.gun {
        background-image: url('../images/gun-250-250.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*******************
        PARTIE SECTION 2
    ********************/

    /* On définit le div de la grille */
    div#grid-circle {
        display: grid;
        width: 70%;
        height: 50%;
        position: absolute;
        top: calc(50% - 25%);
        left: calc(50% - 35%);
        /* background-color: blue; */
    }

    /* on dessine les cercles */
    div.circle {
        /* on positionne les cercles dans la cellule de la grid*/
        position: relative;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        /* Si on modifie la taille, il faut modifier juste en bas le line-height pour le vertical-align du texte */
        width:100px;
        height:100px;

    }

    span.icons-style {
        font-size: 40px;
    }

    div.circle-text-align {
        text-align:center;
        /* alignement verticale */
        line-height: 130px;
    }

}

/******************
    Pour smartphone
*******************/

@media screen and (max-width: 376px) {

    html {
        font-size: 5vw;
    }

    a.section-anchor {
        width:8%;
        font-size: 1rem;
        left: 90%;
        top: 93%;
    }

    /****************
        PARTIE HEADER
    *****************/

    h1#title {
        margin: 0;
        font-size: 1.2rem;
        width:100%;
    }

    span.firstname-1 {
        display: none;
    }

    span.lastname-1 {
        display: none;
    }

    div#header-container-1 {
        width:100%;
        height: 70%;
        /* On place le div verticalement */
        position: absolute;
        top: calc(50% - 35%);
        left: calc(50% - 50%);
        /* on dispose le nom et le logo verticalement */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }

    div.image-logo {
        width: 162px;
        height: 128px;
        margin: 0 auto 0 auto;
        background-image: url('../images/arthur-morgan-small.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
        transform: rotate(-6deg);
    }

    /*******************
        PARTIE SECTION 1
    ********************/

    div#section-1-container-1 {
        width: 80%;
        height: 70%;
        top: calc(50% - 35%);
        left: calc(50% - 40%);
        flex-direction: column;
        gap: 20px;
    }

    div.square {
        width: 160px;
        height: 160px;
    }

    div.ours {
        background-image: url('../images/ours-legendaire-160-160.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    div.gun {
        background-image: url('../images/gun-160-160.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*******************
        PARTIE SECTION 2
    ********************/

    /* on dessine les cercles */
    div.circle {
        /* on positionne les cercles dans la cellule de la grid*/
        position: relative;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        /* Si on modifie la taille, il faut modifier juste en bas le line-height pour le vertical-align du texte */
        width:70px;
        height:70px;

    }

    span.icons-style {
        font-size: 30px;
    }

    div.circle-text-align {
        text-align:center;
        /* alignement verticale */
        line-height: 90px;
    }

    /* On définit le div de la grille */
    div#grid-circle {
        display: grid;
        width: 70%;
        height: 40%;
        position: absolute;
        top: calc(50% - 20%);
        left: calc(50% - 35%);
        /* GRID */
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    /* On positionne les cercles dans la grille */

    /* ligne 1 */
    div.circle-h-grid {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    div.circle-c-grid {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    div.circle-j-grid {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /* ligne 2 */
    div.circle-p-grid {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    div.circle-m-grid {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    div.circle-s-grid {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /***************
        DEBUT FOOTER
    ****************/

    /* L'ancre pour remonter en début de page */
    a.footer-top-anchor {
        width:8%;
        font-size: 1rem;
        left: 90%;
        top: 5%;
    }
}