/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

/*
    Téléphone : 375*667
    Tablette : 810*1080
    Desktop: 1280*720
*/

@charset "utf-8";

/* Import de la font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Import des icônes */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,0');

/* Paramètre des icônes */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

html, body, header, section, main, footer {
    margin: 0;
    padding: 0;
    height:100%;
}

body {
    width:100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 245, 245);
}

header, footer {
    background-color: rgb(220, 220, 220);
}

header {
    /* Le header prend 100% verticalement */
    width: 100%;
    height:100%;
    margin: 0 auto 0 auto;
}

div#header-container-1 {
    background-color: white;
    width:100%;
    /* On centre le div verticalement */
    position: relative;
    top: 40%;
    /* on dispose le nom et le logo horizontalement */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto 0 auto;
    padding: 0;
    margin: 0;
}

div.image-logo {
    width: 50%;
    height: 281px;
    object-fit: cover;
    margin: 0 auto 0 auto;
    background-image: url('../images/logo-big.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a.section-1-anchor {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20px;
}

@media screen and (max-width: 810px) and (min-width: 376px) {

    span.firstname-1 {
        display: none;
    }

}


@media screen and (max-width: 375px) {

    span.firstname-1 {
        display: none;
    }

    span.lastname-1 {
        display: none;
    }

    div#header-container-1 {
        background-color: white;
        width:100%;
        /* On centre le div verticalement */
        position: relative;
        top: 10%;
        /* on dispose le nom et le logo horizontalement */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a.section-1-anchor {
        width:8%;
        font-size: 1rem;
        display: block;
        position: absolute;
        left: 90%;
        bottom: 15px;
    }

}